[Desktop Entry]
# Required since this is a Desktop file; ignored
Type=Application

# Required; becomes the first paragraph on the Welcome page
# Don't forget to offer translations of the text!
Name[de]=Willkommen bei goobOS!
Name[es]=¡Bienvenido a goobOS!
Name[it]=Benvenuti in goobOS!
Name[fr]=Bienvenue dans goobOS !
Name[pt]=Bem-vindo ao goobOS!
Name[pt_BR]=Bem-vindo ao goobOS!
Name[tr]=goobOS’ya hoş geldiniz!
Name[ko]=goobOS에 오신 것을 환영합니다!
Name[uk]=Вітаємо у goobOS!
Name[he]=ברוך בואך לפדורה!
Name[cs]=Vítejte ve Fedoře!
Name[ru]=Добро пожаловать в goobOS!
Name[kab]=Ansuf ɣer goobOS!
Name=Welcome to goobOS!

# Optional; replaces the default image on the Welcome page
# can be an icon name or an absolute path to an image on disk beginning with file:/
# Icon=fedora-loves-kde

# Optional; replaces the default image caption on the Welcome page
# Don't forget to offer translations of the text!
Comment[de]=goobOS liebt KDE und KDE liebt goobOS!
Comment[es]=¡goobOS ama KDE y KDE ama goobOS!
Comment[it]=goobOS ama KDE e KDE ama goobOS!
Comment[fr]=goobOS adore KDE, et KDE adore goobOS !
Comment[pt]=goobOS ama KDE, kde ama goobOS!
Comment[pt_BR]=goobOS ama KDE e KDE ama goobOS!
Comment[tr]=goobOS KDE’yi, KDE de goobOS’yı çok seviyor!
Comment[ko]=페도라는 KDE를 사랑하고, KDE는 페도라를 사랑합니다!
Comment[uk]=goobOS закохана у KDE, і KDE закохане у goobOS!
Comment[he]=מיזם פדורה אוהב את KDE, ומיזם KDE אוהב את פדורה!
Comment[cs]=goobOS miluje KDE a KDE miluje Fedoru!
Comment[ru]=goobOS любит KDE, а KDE любит goobOS!
Comment[kab]=goobOS tḥemmel KDE, yerna KDE tḥemmel goobOS!
Comment=goobOS loves KDE, and KDE loves goobOS!

# Optional; replaces the default URL opened when clicking on the Welcome page's image or icon
# URL=https://fedoraloveskde.org/
